In [2]:
!pip install numpy pandas matplotlib seaborn scikit-learn xgboost lightgbm catboost optuna shap eli5 tensorflow keras torch torchvision

Collecting numpy
  Using cached numpy-1.26.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
Collecting pandas
  Using cached pandas-2.2.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (19 kB)
Collecting matplotlib
  Using cached matplotlib-3.8.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.8 kB)
Collecting seaborn
  Using cached seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Collecting scikit-learn
  Using cached scikit_learn-1.4.1.post1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Collecting xgboost
  Using cached xgboost-2.0.3-py3-none-manylinux2014_x86_64.whl.metadata (2.0 kB)
Collecting lightgbm
  Using cached lightgbm-4.3.0-py3-none-manylinux_2_28_x86_64.whl.metadata (19 kB)
Collecting catboost
  Using cached catboost-1.2.3-cp311-cp311-manylinux2014_x86_64.whl.metadata (1.2 kB)
Collecting optuna
  Using cached optuna-3.5.0-py3-none-any.whl.metadata (17 kB)
Collecting shap
  Downloading shap-0.45.0-cp311-cp311-manylinux_2_12_x86_64.manylinux2010_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (24 kB)
Collecting eli5
  Downloading eli5-0.13.0.tar.gz (216 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 216.2/216.2 kB 2.3 MB/s eta 0:00:00[31m2.6 MB/s eta 0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Collecting tensorflow
  Downloading tensorflow-2.16.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.3 kB)
Collecting keras
  Using cached keras-3.0.5-py3-none-any.whl.metadata (4.8 kB)
Collecting torch
  Using cached torch-2.2.1-cp311-cp311-manylinux1_x86_64.whl.metadata (26 kB)
Collecting torchvision
  Using cached torchvision-0.17.1-cp311-cp311-manylinux1_x86_64.whl.metadata (6.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Using cached contourpy-1.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.8 kB)
Collecting cycler>=0.10 (from matplotlib)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Using cached fonttools-4.49.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (159 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Using cached kiwisolver-1.4.5-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.4 kB)
Requirement already satisfied: packaging>=20.0 in ./.venv/lib/python3.11/site-packages (from matplotlib) (24.0)
Collecting pillow>=8 (from matplotlib)
  Using cached pillow-10.2.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (9.7 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Using cached pyparsing-3.1.2-py3-none-any.whl.metadata (5.1 kB)
Collecting scipy>=1.6.0 (from scikit-learn)
  Using cached scipy-1.12.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Using cached joblib-1.3.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Using cached threadpoolctl-3.3.0-py3-none-any.whl.metadata (13 kB)
Collecting graphviz (from catboost)
  Using cached graphviz-0.20.1-py3-none-any.whl.metadata (12 kB)
Collecting plotly (from catboost)
  Using cached plotly-5.19.0-py3-none-any.whl.metadata (7.0 kB)
Requirement already satisfied: six in ./.venv/lib/python3.11/site-packages (from catboost) (1.16.0)
Collecting alembic>=1.5.0 (from optuna)
  Using cached alembic-1.13.1-py3-none-any.whl.metadata (7.4 kB)
Collecting colorlog (from optuna)
  Using cached colorlog-6.8.2-py3-none-any.whl.metadata (10 kB)
Collecting sqlalchemy>=1.3.0 (from optuna)
  Downloading SQLAlchemy-2.0.28-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Collecting tqdm (from optuna)
  Using cached tqdm-4.66.2-py3-none-any.whl.metadata (57 kB)
Collecting PyYAML (from optuna)
  Using cached PyYAML-6.0.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (2.1 kB)
Collecting slicer==0.0.7 (from shap)
  Using cached slicer-0.0.7-py3-none-any.whl.metadata (3.7 kB)
Collecting numba (from shap)
  Using cached numba-0.59.0-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (2.7 kB)
Collecting cloudpickle (from shap)
  Using cached cloudpickle-3.0.0-py3-none-any.whl.metadata (7.0 kB)
Collecting attrs>17.1.0 (from eli5)
  Using cached attrs-23.2.0-py3-none-any.whl.metadata (9.5 kB)
Collecting jinja2>=3.0.0 (from eli5)
  Using cached Jinja2-3.1.3-py3-none-any.whl.metadata (3.3 kB)
Collecting tabulate>=0.7.7 (from eli5)
  Downloading tabulate-0.9.0-py3-none-any.whl.metadata (34 kB)
Collecting absl-py>=1.0.0 (from tensorflow)
  Using cached absl_py-2.1.0-py3-none-any.whl.metadata (2.3 kB)
Collecting astunparse>=1.6.0 (from tensorflow)
  Using cached astunparse-1.6.3-py2.py3-none-any.whl.metadata (4.4 kB)
Collecting flatbuffers>=23.5.26 (from tensorflow)
  Downloading flatbuffers-24.3.7-py2.py3-none-any.whl.metadata (849 bytes)
Collecting gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 (from tensorflow)
  Using cached gast-0.5.4-py3-none-any.whl.metadata (1.3 kB)
Collecting google-pasta>=0.1.1 (from tensorflow)
  Using cached google_pasta-0.2.0-py3-none-any.whl.metadata (814 bytes)
Collecting h5py>=3.10.0 (from tensorflow)
  Using cached h5py-3.10.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (2.5 kB)
Collecting libclang>=13.0.0 (from tensorflow)
  Using cached libclang-16.0.6-py2.py3-none-manylinux2010_x86_64.whl.metadata (5.2 kB)
Collecting ml-dtypes~=0.3.1 (from tensorflow)
  Downloading ml_dtypes-0.3.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (20 kB)
Collecting opt-einsum>=2.3.2 (from tensorflow)
  Using cached opt_einsum-3.3.0-py3-none-any.whl.metadata (6.5 kB)
Collecting protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 (from tensorflow)
  Using cached protobuf-4.25.3-cp37-abi3-manylinux2014_x86_64.whl.metadata (541 bytes)
Collecting requests<3,>=2.21.0 (from tensorflow)
  Using cached requests-2.31.0-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: setuptools in ./.venv/lib/python3.11/site-packages (from tensorflow) (68.1.2)
Collecting termcolor>=1.1.0 (from tensorflow)
  Using cached termcolor-2.4.0-py3-none-any.whl.metadata (6.1 kB)
Collecting typing-extensions>=3.6.6 (from tensorflow)
  Using cached typing_extensions-4.10.0-py3-none-any.whl.metadata (3.0 kB)
Collecting wrapt>=1.11.0 (from tensorflow)
  Downloading wrapt-1.16.0-cp311-cp311-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.6 kB)
Collecting grpcio<2.0,>=1.24.3 (from tensorflow)
  Downloading grpcio-1.62.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.0 kB)
Collecting tensorboard<2.17,>=2.16 (from tensorflow)
  Downloading tensorboard-2.16.2-py3-none-any.whl.metadata (1.6 kB)
Collecting tensorflow-io-gcs-filesystem>=0.23.1 (from tensorflow)
  Using cached tensorflow_io_gcs_filesystem-0.36.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (14 kB)
Collecting rich (from keras)
  Downloading rich-13.7.1-py3-none-any.whl.metadata (18 kB)
Collecting namex (from keras)
  Downloading namex-0.0.7-py3-none-any.whl.metadata (246 bytes)
Collecting dm-tree (from keras)
  Downloading dm_tree-0.1.8-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.9 kB)
Collecting filelock (from torch)
  Using cached filelock-3.13.1-py3-none-any.whl.metadata (2.8 kB)
Collecting sympy (from torch)
  Using cached sympy-1.12-py3-none-any.whl.metadata (12 kB)
Collecting networkx (from torch)
  Using cached networkx-3.2.1-py3-none-any.whl.metadata (5.2 kB)
Collecting fsspec (from torch)
  Using cached fsspec-2024.2.0-py3-none-any.whl.metadata (6.8 kB)
Collecting nvidia-cuda-nvrtc-cu12==12.1.105 (from torch)
  Using cached nvidia_cuda_nvrtc_cu12-12.1.105-py3-none-manylinux1_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cuda-runtime-cu12==12.1.105 (from torch)
  Using cached nvidia_cuda_runtime_cu12-12.1.105-py3-none-manylinux1_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cuda-cupti-cu12==12.1.105 (from torch)
  Using cached nvidia_cuda_cupti_cu12-12.1.105-py3-none-manylinux1_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cudnn-cu12==8.9.2.26 (from torch)
  Using cached nvidia_cudnn_cu12-8.9.2.26-py3-none-manylinux1_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cublas-cu12==12.1.3.1 (from torch)
  Using cached nvidia_cublas_cu12-12.1.3.1-py3-none-manylinux1_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cufft-cu12==11.0.2.54 (from torch)
  Using cached nvidia_cufft_cu12-11.0.2.54-py3-none-manylinux1_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-curand-cu12==10.3.2.106 (from torch)
  Using cached nvidia_curand_cu12-10.3.2.106-py3-none-manylinux1_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cusolver-cu12==11.4.5.107 (from torch)
  Using cached nvidia_cusolver_cu12-11.4.5.107-py3-none-manylinux1_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cusparse-cu12==12.1.0.106 (from torch)
  Using cached nvidia_cusparse_cu12-12.1.0.106-py3-none-manylinux1_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-nccl-cu12==2.19.3 (from torch)
  Using cached nvidia_nccl_cu12-2.19.3-py3-none-manylinux1_x86_64.whl.metadata (1.8 kB)
Collecting nvidia-nvtx-cu12==12.1.105 (from torch)
  Using cached nvidia_nvtx_cu12-12.1.105-py3-none-manylinux1_x86_64.whl.metadata (1.7 kB)
Collecting triton==2.2.0 (from torch)
  Using cached triton-2.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.4 kB)
Collecting nvidia-nvjitlink-cu12 (from nvidia-cusolver-cu12==11.4.5.107->torch)
  Downloading nvidia_nvjitlink_cu12-12.4.99-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting Mako (from alembic>=1.5.0->optuna)
  Using cached Mako-1.3.2-py3-none-any.whl.metadata (2.9 kB)
Collecting wheel<1.0,>=0.23.0 (from astunparse>=1.6.0->tensorflow)
  Using cached wheel-0.43.0-py3-none-any.whl.metadata (2.2 kB)
Collecting MarkupSafe>=2.0 (from jinja2>=3.0.0->eli5)
  Using cached MarkupSafe-2.1.5-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.0 kB)
Collecting charset-normalizer<4,>=2 (from requests<3,>=2.21.0->tensorflow)
  Using cached charset_normalizer-3.3.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (33 kB)
Collecting idna<4,>=2.5 (from requests<3,>=2.21.0->tensorflow)
  Using cached idna-3.6-py3-none-any.whl.metadata (9.9 kB)
Collecting urllib3<3,>=1.21.1 (from requests<3,>=2.21.0->tensorflow)
  Using cached urllib3-2.2.1-py3-none-any.whl.metadata (6.4 kB)
Collecting certifi>=2017.4.17 (from requests<3,>=2.21.0->tensorflow)
  Using cached certifi-2024.2.2-py3-none-any.whl.metadata (2.2 kB)
Collecting greenlet!=0.4.17 (from sqlalchemy>=1.3.0->optuna)
  Using cached greenlet-3.0.3-cp311-cp311-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (3.8 kB)
Collecting markdown>=2.6.8 (from tensorboard<2.17,>=2.16->tensorflow)
  Using cached Markdown-3.5.2-py3-none-any.whl.metadata (7.0 kB)
Collecting tensorboard-data-server<0.8.0,>=0.7.0 (from tensorboard<2.17,>=2.16->tensorflow)
  Using cached tensorboard_data_server-0.7.2-py3-none-manylinux_2_31_x86_64.whl.metadata (1.1 kB)
Collecting werkzeug>=1.0.1 (from tensorboard<2.17,>=2.16->tensorflow)
  Using cached werkzeug-3.0.1-py3-none-any.whl.metadata (4.1 kB)
Collecting llvmlite<0.43,>=0.42.0dev0 (from numba->shap)
  Using cached llvmlite-0.42.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.8 kB)
Collecting tenacity>=6.2.0 (from plotly->catboost)
  Using cached tenacity-8.2.3-py3-none-any.whl.metadata (1.0 kB)
Collecting markdown-it-py>=2.2.0 (from rich->keras)
  Downloading markdown_it_py-3.0.0-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in ./.venv/lib/python3.11/site-packages (from rich->keras) (2.17.2)
Collecting mpmath>=0.19 (from sympy->torch)
  Using cached mpmath-1.3.0-py3-none-any.whl.metadata (8.6 kB)
Collecting mdurl~=0.1 (from markdown-it-py>=2.2.0->rich->keras)
  Downloading mdurl-0.1.2-py3-none-any.whl.metadata (1.6 kB)
Using cached numpy-1.26.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.3 MB)
Using cached pandas-2.2.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.0 MB)
Using cached matplotlib-3.8.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.6 MB)
Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Using cached scikit_learn-1.4.1.post1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.1 MB)
Using cached xgboost-2.0.3-py3-none-manylinux2014_x86_64.whl (297.1 MB)
Using cached lightgbm-4.3.0-py3-none-manylinux_2_28_x86_64.whl (3.1 MB)
Using cached catboost-1.2.3-cp311-cp311-manylinux2014_x86_64.whl (98.5 MB)
Using cached optuna-3.5.0-py3-none-any.whl (413 kB)
Downloading shap-0.45.0-cp311-cp311-manylinux_2_12_x86_64.manylinux2010_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (538 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 538.2/538.2 kB 9.9 MB/s eta 0:00:002 MB/s eta 0:00:01
Using cached slicer-0.0.7-py3-none-any.whl (14 kB)
Downloading tensorflow-2.16.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (589.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 589.8/589.8 MB 8.1 MB/s eta 0:00:000m eta 0:00:01[36m0:00:01
Downloading keras-3.0.5-py3-none-any.whl (1.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 25.9 MB/s eta 0:00:00m eta 0:00:01
Using cached torch-2.2.1-cp311-cp311-manylinux1_x86_64.whl (755.6 MB)
Using cached nvidia_cublas_cu12-12.1.3.1-py3-none-manylinux1_x86_64.whl (410.6 MB)
Using cached nvidia_cuda_cupti_cu12-12.1.105-py3-none-manylinux1_x86_64.whl (14.1 MB)
Using cached nvidia_cuda_nvrtc_cu12-12.1.105-py3-none-manylinux1_x86_64.whl (23.7 MB)
Using cached nvidia_cuda_runtime_cu12-12.1.105-py3-none-manylinux1_x86_64.whl (823 kB)
Using cached nvidia_cudnn_cu12-8.9.2.26-py3-none-manylinux1_x86_64.whl (731.7 MB)
Using cached nvidia_cufft_cu12-11.0.2.54-py3-none-manylinux1_x86_64.whl (121.6 MB)
Using cached nvidia_curand_cu12-10.3.2.106-py3-none-manylinux1_x86_64.whl (56.5 MB)
Using cached nvidia_cusolver_cu12-11.4.5.107-py3-none-manylinux1_x86_64.whl (124.2 MB)
Using cached nvidia_cusparse_cu12-12.1.0.106-py3-none-manylinux1_x86_64.whl (196.0 MB)
Using cached nvidia_nccl_cu12-2.19.3-py3-none-manylinux1_x86_64.whl (166.0 MB)
Using cached nvidia_nvtx_cu12-12.1.105-py3-none-manylinux1_x86_64.whl (99 kB)
Using cached triton-2.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (167.9 MB)
Using cached torchvision-0.17.1-cp311-cp311-manylinux1_x86_64.whl (6.9 MB)
Using cached absl_py-2.1.0-py3-none-any.whl (133 kB)
Using cached alembic-1.13.1-py3-none-any.whl (233 kB)
Using cached astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Using cached attrs-23.2.0-py3-none-any.whl (60 kB)
Using cached contourpy-1.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (313 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading flatbuffers-24.3.7-py2.py3-none-any.whl (26 kB)
Using cached fonttools-4.49.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.9 MB)
Using cached gast-0.5.4-py3-none-any.whl (19 kB)
Using cached google_pasta-0.2.0-py3-none-any.whl (57 kB)
Downloading grpcio-1.62.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (5.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.5/5.5 MB 25.2 MB/s eta 0:00:00m eta 0:00:010:01:01
Using cached h5py-3.10.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.8 MB)
Using cached Jinja2-3.1.3-py3-none-any.whl (133 kB)
Using cached joblib-1.3.2-py3-none-any.whl (302 kB)
Using cached kiwisolver-1.4.5-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
Using cached libclang-16.0.6-py2.py3-none-manylinux2010_x86_64.whl (22.9 MB)
Downloading ml_dtypes-0.3.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.2/2.2 MB 24.3 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Using cached opt_einsum-3.3.0-py3-none-any.whl (65 kB)
Using cached pillow-10.2.0-cp311-cp311-manylinux_2_28_x86_64.whl (4.5 MB)
Using cached protobuf-4.25.3-cp37-abi3-manylinux2014_x86_64.whl (294 kB)
Using cached pyparsing-3.1.2-py3-none-any.whl (103 kB)
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached requests-2.31.0-py3-none-any.whl (62 kB)
Using cached scipy-1.12.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (38.4 MB)
Downloading SQLAlchemy-2.0.28-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 29.8 MB/s eta 0:00:0031m35.0 MB/s eta 0:00:01
Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Downloading tensorboard-2.16.2-py3-none-any.whl (5.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.5/5.5 MB 29.5 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Using cached tensorflow_io_gcs_filesystem-0.36.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (5.1 MB)
Using cached termcolor-2.4.0-py3-none-any.whl (7.7 kB)
Using cached threadpoolctl-3.3.0-py3-none-any.whl (17 kB)
Using cached tqdm-4.66.2-py3-none-any.whl (78 kB)
Using cached typing_extensions-4.10.0-py3-none-any.whl (33 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Downloading wrapt-1.16.0-cp311-cp311-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (80 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 80.7/80.7 kB 8.3 MB/s eta 0:00:00
Using cached cloudpickle-3.0.0-py3-none-any.whl (20 kB)
Using cached colorlog-6.8.2-py3-none-any.whl (11 kB)
Downloading dm_tree-0.1.8-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (152 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 152.8/152.8 kB 7.6 MB/s eta 0:00:00
Using cached filelock-3.13.1-py3-none-any.whl (11 kB)
Using cached fsspec-2024.2.0-py3-none-any.whl (170 kB)
Using cached graphviz-0.20.1-py3-none-any.whl (47 kB)
Downloading namex-0.0.7-py3-none-any.whl (5.8 kB)
Using cached networkx-3.2.1-py3-none-any.whl (1.6 MB)
Using cached numba-0.59.0-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (3.7 MB)
Using cached plotly-5.19.0-py3-none-any.whl (15.7 MB)
Using cached PyYAML-6.0.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (757 kB)
Downloading rich-13.7.1-py3-none-any.whl (240 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 240.7/240.7 kB 14.3 MB/s eta 0:00:00
Using cached sympy-1.12-py3-none-any.whl (5.7 MB)
Using cached certifi-2024.2.2-py3-none-any.whl (163 kB)
Using cached charset_normalizer-3.3.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (140 kB)
Using cached greenlet-3.0.3-cp311-cp311-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (620 kB)
Using cached idna-3.6-py3-none-any.whl (61 kB)
Using cached llvmlite-0.42.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (43.8 MB)
Using cached Markdown-3.5.2-py3-none-any.whl (103 kB)
Downloading markdown_it_py-3.0.0-py3-none-any.whl (87 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 87.5/87.5 kB 5.7 MB/s eta 0:00:00
Using cached MarkupSafe-2.1.5-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (28 kB)
Using cached mpmath-1.3.0-py3-none-any.whl (536 kB)
Using cached tenacity-8.2.3-py3-none-any.whl (24 kB)
Using cached tensorboard_data_server-0.7.2-py3-none-manylinux_2_31_x86_64.whl (6.6 MB)
Using cached urllib3-2.2.1-py3-none-any.whl (121 kB)
Using cached werkzeug-3.0.1-py3-none-any.whl (226 kB)
Using cached wheel-0.43.0-py3-none-any.whl (65 kB)
Using cached Mako-1.3.2-py3-none-any.whl (78 kB)

In [19]:
import pandas as pd
import numpy as np

# Load the data
df = pd.read_csv('/home/akz/programming/biotech_dataset/Train2D.csv')
df.head()

,SMILES,Cls,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,C[C@H]1C(=O)N[C@H](C(=O)N[C@H](C(=O)N[C@H](C(=...,0,NaN,NaN,1,10,126.291271,2.416707,4.779198,126.291271,...,11.160285,157.462679,1463.720435,7.318602,67876,151,492,548,40.194444,23.333333
1,CC(C)C[C@H]1C(=O)N[C@H](C(=O)N[C@H](C(=O)N[C@H...,0,NaN,NaN,1,10,122.306081,2.416770,4.780587,122.306081,...,11.127219,155.307010,1441.772471,7.067512,63926,148,478,531,41.194444,22.944444
2,C1=CC=C(C(=C1)C(=O)C2=CN=C(S2)NC3=CC=C(C=C3)N)Cl,0,NaN,NaN,0,0,28.571924,2.388244,4.711441,28.571924,...,9.874522,69.492153,329.038961,9.677616,1165,31,114,132,6.777778,4.833333
3,C1CCC(=O)C(C1)C2CC(=O)N(C2=O)C3=CC=C(C=C3)Br,0,NaN,NaN,0,0,27.097139,2.488091,4.835581,27.097139,...,10.022470,69.396660,349.031356,9.433280,902,34,112,134,7.138889,4.583333
4,CC(C)C[C@H]1C(=O)N[C@H](C(=O)N[C@H](C(=O)N[C@H...,0,NaN,NaN,1,10,132.321058,2.416813,4.810016,132.321058,...,11.267217,163.855774,1557.759855,7.382748,77098,162,524,585,43.618056,24.527778

In [20]:
df['Cls'].unique()

array([0, 1])

In [21]:
df['Cls'].value_counts()

Cls
0    1720
1    1720
Name: count, dtype: int64

In [22]:
df['Cls'].isna().sum()

0

We've gotten a perfectly balanced dataset with 50% of the data being positive and 50% being negative. We can now use this dataset to train a model and evaluate its performance. But first, let's check out if there are any missing values in the dataset.

In [23]:
df.isna().sum()

SMILES         0
Cls            0
ABC         3440
ABCGG       3440
nAcid          0
            ...
WPol           0
Zagreb1        0
Zagreb2        0
mZagreb1      81
mZagreb2       0
Length: 1615, dtype: int64

In [24]:
# let's fill all NaN values with 0
df.fillna(0, inplace=True)

In [25]:
df.describe()

,Cls,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,SpMAD_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
count,3440.000000,3440.0,3440.0,3440.000000,3440.000000,3440.000000,3440.000000,3440.000000,3440.000000,3440.000000,...,3440.000000,3440.000000,3440.000000,3440.000000,3.440000e+03,3440.000000,3440.000000,3440.000000,3440.000000,3440.000000
mean,0.500000,0.0,0.0,0.122965,0.475291,37.072754,2.367811,4.684533,37.072754,1.247193,...,10.174770,74.602004,424.650464,8.004186,1.779117e+08,45.921802,154.679651,179.994477,9.573169,6.629576
std,0.500073,0.0,0.0,0.366124,1.415025,18.780723,0.412210,0.813067,18.780723,0.217027,...,0.400537,18.841442,206.075359,1.191256,1.571118e+09,23.252123,71.016462,80.962620,5.843412,3.302986
min,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.921898,38.130322,136.100048,5.021635,1.260000e+02,9.000000,42.000000,44.000000,0.000000,2.333333
25%,0.000000,0.0,0.0,0.000000,0.000000,28.833567,2.394788,4.745224,28.833567,1.254065,...,9.966157,63.747217,328.122700,7.195197,1.277750e+03,34.000000,118.000000,137.750000,7.144097,5.111111
50%,0.500000,0.0,0.0,0.000000,0.000000,34.635766,2.436715,4.824731,34.635766,1.286094,...,10.185353,73.252532,383.113313,7.850231,2.025000e+03,42.000000,142.000000,166.000000,8.638889,5.944444
75%,1.000000,0.0,0.0,0.000000,0.000000,40.729804,2.479563,4.893096,40.729804,1.312111,...,10.388688,80.253821,452.095638,8.661321,3.348000e+03,51.000000,168.000000,198.000000,10.295139,7.000000
max,1.000000,0.0,0.0,3.000000,16.000000,165.270586,2.724670,5.449341,165.270586,1.381549,...,11.454226,190.869373,1955.002899,14.125169,4.270000e+10,204.000000,648.000000,724.000000,53.416667,30.416667

In [28]:
num_df = df.drop('SMILES', axis=1)
num_df.head()

,Cls,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,SpMAD_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,0,0.0,0.0,1,10,126.291271,2.416707,4.779198,126.291271,1.226129,...,11.160285,157.462679,1463.720435,7.318602,67876,151,492,548,40.194444,23.333333
1,0,0.0,0.0,1,10,122.306081,2.416770,4.780587,122.306081,1.210951,...,11.127219,155.307010,1441.772471,7.067512,63926,148,478,531,41.194444,22.944444
2,0,0.0,0.0,0,0,28.571924,2.388244,4.711441,28.571924,1.298724,...,9.874522,69.492153,329.038961,9.677616,1165,31,114,132,6.777778,4.833333
3,0,0.0,0.0,0,0,27.097139,2.488091,4.835581,27.097139,1.290340,...,10.022470,69.396660,349.031356,9.433280,902,34,112,134,7.138889,4.583333
4,0,0.0,0.0,1,10,132.321058,2.416813,4.810016,132.321058,1.213955,...,11.267217,163.855774,1557.759855,7.382748,77098,162,524,585,43.618056,24.527778

In [29]:
num_df

,Cls,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,SpMAD_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,0,0.0,0.0,1,10,126.291271,2.416707,4.779198,126.291271,1.226129,...,11.160285,157.462679,1463.720435,7.318602,67876,151,492,548,40.194444,23.333333
1,0,0.0,0.0,1,10,122.306081,2.416770,4.780587,122.306081,1.210951,...,11.127219,155.307010,1441.772471,7.067512,63926,148,478,531,41.194444,22.944444
2,0,0.0,0.0,0,0,28.571924,2.388244,4.711441,28.571924,1.298724,...,9.874522,69.492153,329.038961,9.677616,1165,31,114,132,6.777778,4.833333
3,0,0.0,0.0,0,0,27.097139,2.488091,4.835581,27.097139,1.290340,...,10.022470,69.396660,349.031356,9.433280,902,34,112,134,7.138889,4.583333
4,0,0.0,0.0,1,10,132.321058,2.416813,4.810016,132.321058,1.213955,...,11.267217,163.855774,1557.759855,7.382748,77098,162,524,585,43.618056,24.527778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3435,1,0.0,0.0,0,0,35.981349,2.454850,4.909699,35.981349,1.240736,...,10.330160,64.664490,414.197714,7.020300,2578,48,152,178,11.062500,6.250000
3436,1,0.0,0.0,0,0,38.070420,2.424294,4.848587,38.070420,1.312773,...,10.287218,64.627285,381.147727,7.940578,2372,42,150,175,7.638889,6.583333
3437,1,0.0,0.0,0,2,49.867009,2.452215,4.904315,49.867009,1.278641,...,10.597809,83.963738,538.266794,7.475928,5435,66,210,245,12.395833,8.277778
3438,1,0.0,0.0,1,0,47.111260,2.439942,4.879884,47.111260,1.273277,...,10.552709,73.833590,541.071988,9.837673,4596,63,194,229,13.305556,8.138889
3439,1,0.0,0.0,0,1,37.985842,2.430259,4.798438,37.985842,1.309857,...,10.167581,78.285748,429.139009,8.096962,2335,42,152,176,8.250000,6.333333

In [30]:
df

,SMILES,Cls,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,C[C@H]1C(=O)N[C@H](C(=O)N[C@H](C(=O)N[C@H](C(=...,0,0.0,0.0,1,10,126.291271,2.416707,4.779198,126.291271,...,11.160285,157.462679,1463.720435,7.318602,67876,151,492,548,40.194444,23.333333
1,CC(C)C[C@H]1C(=O)N[C@H](C(=O)N[C@H](C(=O)N[C@H...,0,0.0,0.0,1,10,122.306081,2.416770,4.780587,122.306081,...,11.127219,155.307010,1441.772471,7.067512,63926,148,478,531,41.194444,22.944444
2,C1=CC=C(C(=C1)C(=O)C2=CN=C(S2)NC3=CC=C(C=C3)N)Cl,0,0.0,0.0,0,0,28.571924,2.388244,4.711441,28.571924,...,9.874522,69.492153,329.038961,9.677616,1165,31,114,132,6.777778,4.833333
3,C1CCC(=O)C(C1)C2CC(=O)N(C2=O)C3=CC=C(C=C3)Br,0,0.0,0.0,0,0,27.097139,2.488091,4.835581,27.097139,...,10.022470,69.396660,349.031356,9.433280,902,34,112,134,7.138889,4.583333
4,CC(C)C[C@H]1C(=O)N[C@H](C(=O)N[C@H](C(=O)N[C@H...,0,0.0,0.0,1,10,132.321058,2.416813,4.810016,132.321058,...,11.267217,163.855774,1557.759855,7.382748,77098,162,524,585,43.618056,24.527778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3435,CC1=CC(=C(C=C1)S(=O)(=O)N2CCC(CC2)C(=O)NC3=CC=...,1,0.0,0.0,0,0,35.981349,2.454850,4.909699,35.981349,...,10.330160,64.664490,414.197714,7.020300,2578,48,152,178,11.062500,6.250000
3436,C1C(CN1C#N)OCC2=C(C=C(C=C2)OC3=CC=CC=C3)C4=CC=...,1,0.0,0.0,0,0,38.070420,2.424294,4.848587,38.070420,...,10.287218,64.627285,381.147727,7.940578,2372,42,150,175,7.638889,6.583333
3437,C[C@H]1CN(CC2=C1C=CC(=C2)C(=O)NC3=CC(=CC(=C3)C...,1,0.0,0.0,0,2,49.867009,2.452215,4.904315,49.867009,...,10.597809,83.963738,538.266794,7.475928,5435,66,210,245,12.395833,8.277778
3438,CCN1C(=O)C(=CC(=N1)C2=CC=CC(=C2)C3=C(C=CC(=C3)...,1,0.0,0.0,1,0,47.111260,2.439942,4.879884,47.111260,...,10.552709,73.833590,541.071988,9.837673,4596,63,194,229,13.305556,8.138889
3439,C1CCN(CC1)CCN(C2=CC3=C(C=C2)N=C(S3)N)C(=O)NC4=...,1,0.0,0.0,0,1,37.985842,2.430259,4.798438,37.985842,...,10.167581,78.285748,429.139009,8.096962,2335,42,152,176,8.250000,6.333333

In [32]:
zero_mean_columns = num_df.columns[num_df.mean() == 0]
print(zero_mean_columns)

Index(['ABC', 'ABCGG', 'nB', 'SpAbs_Dt', 'SpMax_Dt', 'SpDiam_Dt', 'SpAD_Dt',
       'SpMAD_Dt', 'LogEE_Dt', 'SM1_Dt',
       ...
       'n5FaHRing', 'n6FaHRing', 'n7FaHRing', 'n11FaHRing', 'n4FARing',
       'n5FARing', 'n6FARing', 'n4FAHRing', 'n5FAHRing', 'n6FAHRing'],
      dtype='object', length=233)

Out of 1615 columns, 233 are columns which have mean as 0

Now, it could also be because it is a balanced dataset that the mean is 0 as we have equal distribution on both sides

In [37]:
unique_values = {}
for column in zero_mean_columns:
    unique_values[column] = num_df[column].unique()

# Save the unique values as a variable
unique_values_variable = unique_values

# Filter out columns with only one unique value
filtered_columns = [column for column, values in unique_values.items() if len(values) > 2]

# # Save the filtered columns as a variable
# filtered_columns_variable = filtered_columns

In [39]:
filtered_columns

[]

This is not making sense, let's check out how the things are there

In [40]:
df['ABC'].unique()

array([0.])

In [41]:
# Filter the unique_values dictionary to find columns where the only unique value is [0.]
columns_with_only_zero = {column: values for column, values in unique_values.items() if len(values) == 1 and values[0] == 0}

# To get just the names of these columns, you can extract the keys from the above dictionary:
columns_with_only_zero_names = list(columns_with_only_zero.keys())

# Now, columns_with_only_zero_names contains the names of the columns where the only unique value is 0.

In [42]:
columns_with_only_zero_names

['ABC',
 'ABCGG',
 'nB',
 'SpAbs_Dt',
 'SpMax_Dt',
 'SpDiam_Dt',
 'SpAD_Dt',
 'SpMAD_Dt',
 'LogEE_Dt',
 'SM1_Dt',
 'VE1_Dt',
 'VE2_Dt',
 'VE3_Dt',
 'VR1_Dt',
 'VR2_Dt',
 'VR3_Dt',
 'DetourIndex',
 'NsLi',
 'NssBe',
 'NssssBe',
 'NssBH',
 'NsssB',
 'NssssB',
 'NssNH2',
 'NsSiH3',
 'NssSiH2',
 'NsssSiH',
 'NssssSi',
 'NsPH2',
 'NssPH',
 'NsssP',
 'NsssssP',
 'NsSH',
 'NsGeH3',
 'NssGeH2',
 'NsssGeH',
 'NssssGe',
 'NsAsH2',
 'NssAsH',
 'NsssAs',
 'NsssdAs',
 'NsssssAs',
 'NsSeH',
 'NdSe',
 'NssSe',
 'NaaSe',
 'NdssSe',
 'NddssSe',
 'NsSnH3',
 'NssSnH2',
 'NsssSnH',
 'NssssSn',
 'NsPbH3',
 'NssPbH2',
 'NsssPbH',
 'NssssPb',
 'SsLi',
 'SssBe',
 'SssssBe',
 'SssBH',
 'SsssB',
 'SssssB',
 'SssNH2',
 'SsSiH3',
 'SssSiH2',
 'SsssSiH',
 'SssssSi',
 'SsPH2',
 'SssPH',
 'SsssP',
 'SsssssP',
 'SsSH',
 'SsGeH3',
 'SssGeH2',
 'SsssGeH',
 'SssssGe',
 'SsAsH2',
 'SssAsH',
 'SsssAs',
 'SsssdAs',
 'SsssssAs',
 'SsSeH',
 'SdSe',
 'SssSe',
 'SaaSe',
 'SdssSe',
 'SddssSe',
 'SsSnH3',
 'SssSnH2',
 'SsssSnH',
 'SssssSn',
 'SsPbH3',
 'SssPbH2',
 'SsssPbH',
 'SssssPb',
 'MAXsLi',
 'MAXssBe',
 'MAXssssBe',
 'MAXssBH',
 'MAXsssB',
 'MAXssssB',
 'MAXssNH2',
 'MAXsSiH3',
 'MAXssSiH2',
 'MAXsssSiH',
 'MAXssssSi',
 'MAXsPH2',
 'MAXssPH',
 'MAXsssP',
 'MAXsssssP',
 'MAXsSH',
 'MAXsGeH3',
 'MAXssGeH2',
 'MAXsssGeH',
 'MAXssssGe',
 'MAXsAsH2',
 'MAXssAsH',
 'MAXsssAs',
 'MAXsssdAs',
 'MAXsssssAs',
 'MAXsSeH',
 'MAXdSe',
 'MAXssSe',
 'MAXaaSe',
 'MAXdssSe',
 'MAXddssSe',
 'MAXsSnH3',
 'MAXssSnH2',
 'MAXsssSnH',
 'MAXssssSn',
 'MAXsPbH3',
 'MAXssPbH2',
 'MAXsssPbH',
 'MAXssssPb',
 'MINsLi',
 'MINssBe',
 'MINssssBe',
 'MINssBH',
 'MINsssB',
 'MINssssB',
 'MINssNH2',
 'MINsSiH3',
 'MINssSiH2',
 'MINsssSiH',
 'MINssssSi',
 'MINsPH2',
 'MINssPH',
 'MINsssP',
 'MINsssssP',
 'MINsSH',
 'MINsGeH3',
 'MINssGeH2',
 'MINsssGeH',
 'MINssssGe',
 'MINsAsH2',
 'MINssAsH',
 'MINsssAs',
 'MINsssdAs',
 'MINsssssAs',
 'MINsSeH',
 'MINdSe',
 'MINssSe',
 'MINaaSe',
 'MINdssSe',
 'MINddssSe',
 'MINsSnH3',
 'MINssSnH2',
 'MINsssSnH',
 'MINssssSn',
 'MINsPbH3',
 'MINssPbH2',
 'MINsssPbH',
 'MINssssPb',
 'ETA_dPsi_B',
 'SMR_VSA8',
 'SlogP_VSA9',
 'n9Ring',
 'n10Ring',
 'n11Ring',
 'n12Ring',
 'n3HRing',
 'n9HRing',
 'n10HRing',
 'n11HRing',
 'n12HRing',
 'n3aRing',
 'n4aRing',
 'n8aRing',
 'n9aRing',
 'n10aRing',
 'n11aRing',
 'n12aRing',
 'nG12aRing',
 'n3aHRing',
 'n4aHRing',
 'n7aHRing',
 'n8aHRing',
 'n9aHRing',
 'n10aHRing',
 'n11aHRing',
 'n12aHRing',
 'nG12aHRing',
 'n9ARing',
 'n10ARing',
 'n11ARing',
 'n12ARing',
 'n3AHRing',
 'n9AHRing',
 'n10AHRing',
 'n11AHRing',
 'n12AHRing',
 'n4FRing',
 'n5FRing',
 'n6FRing',
 'n4FHRing',
 'n5FHRing',
 'n6FHRing',
 'n4FaRing',
 'n5FaRing',
 'n6FaRing',
 'n7FaRing',
 'n11FaRing',
 'n4FaHRing',
 'n5FaHRing',
 'n6FaHRing',
 'n7FaHRing',
 'n11FaHRing',
 'n4FARing',
 'n5FARing',
 'n6FARing',
 'n4FAHRing',
 'n5FAHRing',
 'n6FAHRing']

with this, it is confirmed that these 233 columns all have only 0 values through the entire dataset

Now, we gotta check for the other test_set

In [43]:
df = pd.read_csv('/home/akz/programming/biotech_dataset/Test2D.csv')
df.head()

,SMILES,Cls,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,CC1=C(C(=NO1)C)CN2C(=O)C(NC2=O)(CC3=CC=CC=C3)C...,0,NaN,NaN,0,0,37.535578,2.537654,4.928643,37.535578,...,10.345767,81.039345,389.173942,7.484114,2134,46,156,186,8.951389,6.319444
1,CN1CC[N+]2=C1SC=C2CN3C(=O)C4=CC=CC=C4C3=O.[I-],0,NaN,NaN,1,1,NaN,NaN,NaN,NaN,...,10.164659,74.001707,426.985146,11.860698,2100000888,35,120,149,NaN,4.472222
2,CC1=CC(=NC(=N1)N2CCOCC2)OC3=CC=CC=C3,0,NaN,NaN,0,0,26.392907,2.360309,4.720619,26.392907,...,9.729432,53.298068,271.132077,7.327894,847,27,102,116,5.055556,4.444444
3,CC(C)CCN1C2=C(N=C1N3CCOCC3)N(C(=O)N(C2=O)CC(=O...,0,NaN,NaN,0,0,34.043250,2.568253,5.023034,34.043250,...,10.322165,76.726891,378.201553,7.135878,1698,46,142,170,10.472222,5.916667
4,CCN(C1CCS(=O)(=O)C1)C(=O)CN2C3=CC=CC=C3OC2=O,0,NaN,NaN,0,0,28.832447,2.461932,4.775535,28.832447,...,10.103608,73.738459,338.093643,8.246186,1189,35,124,147,8.340278,4.972222